/* Topo da Pagina */
/*Menu*/
.navbar-default .navbar-nav>li>a
{
    color: #777;
    font-size: 1.2em;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
}
/*Titulo da pagina*/
.home
{
  margin: 0;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 12%;
  background-image: url("/css/img/imagem005.jpg");
}

.titulo
{
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: 'Arima Madurai', cursive;
    font-size: 4em;
}

.slogan
{
    font-family: 'Arima Madurai', cursive;
}

/* Subtitulos da pagina */
.subtitulo
{
    text-transform: uppercase;
    font-weight: normal;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 3%;
}

/*Quem Somos*/
.texto
{
    font-size: 1.4em;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 3%;
    font-weight: normal;
}

.imagens-quem-somos
{
    padding-bottom: 3%;
}

.robotica
{
    display: inline;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after
{
    font-size: 65px!important;
    color: #cecece;
    text-align: center;
    vertical-align: middle;
    margin: 0!important;
}

.border-icon
{
    border: 2px solid #ccc;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
}
