@@charset "UTF-8";

/* Configuração da Pagina*/

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

section.section
{
    padding: 100px 0px;
}

/* Menu */

nav.navbar-default .navbar-nav li a
{
    color: #777777;
    font-size: 1.2em;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
}

/*Titulo da pagina*/

section.home
{
  margin: 0;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 12%;
  background-image: url("/css/img/imagem005.jpg");
}

h1.titulo
{
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: 'Arima Madurai', cursive;
    font-size: 4em;
}

h4.slogan
{
    font-family: 'Arima Madurai', cursive;
}

section#inicio
{
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}

/* Subtitulos da pagina */

h2.subtitulo
{
    text-transform: uppercase;
    font-weight: normal;
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    padding-bottom: 3%;
}

/*Bem Vindo */
section#bem-vindo
{
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    /*background-color: #449D44;*/
}

h4.frase-bem-vindo
{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

p.texto-bem-vindo
{
    font-family: 'Releway', sans-serif;
    font-size: 2em;
}

/*Quem Somos*/

section#quem-somos
{
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}

p.texto
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    /*font-family: 'Roboto', sans-serif;*/
    margin: 3%;
    font-weight: normal;
}

/* Formatação de imagens com legendas */

figure.imagens-quem-somos
{
    position: relative;
    border: 8px solid #FFFFFF;
    box-shadow: 1px 1px 4px #000000;
}

figure.imagens-quem-somos img
{
    width: 100%;
    height: 100%;
}

figure.imagens-quem-somos figcaption
{
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.imagens-quem-somos:hover figcaption
{
    opacity: 1;
}

div.robotica
{
    display: inline;
}

/* Nossa Historia*/

section#nossa-historia
{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: ##449D44;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}

}
.btn, .btn-lg
{
    border-radius: 0px;
}

.btn-custom
{
    border: 2px solid #039BE5;
    background-color: transparent;
    color: #444444;
}

.btn-custom:hover
{
    color: #FCFCFC;
    background-color: #039BE5;
    transition: background-color 1s;
    /*#449D44*/
}

/*Nossos Projetos*/

section#nossos-projetos
{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #ECEFF1;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}
.btn, .btn-lg
{
    border-radius: 0px;
}

.btn-custom
{
    border: 2px solid #039BE5;
    background-color: transparent;
    color: #444444;
}

.btn-custom:hover
{
    color: #FCFCFC;
    background-color: #039BE5;
    transition: background-color 1s;
    /*#449D44*/
}

/* Nossos Serviços*/

section#nossos-servicos
{
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after
{
    font-size: 65px!important;
    color: #cecece;
    text-align: center;
    vertical-align: middle;
    margin: 0!important;
}

div.conteudo
{
    text-align: center;
    align-items: center;
    padding: 10px 15px;
    margin: 5px;
}

div.servicos-icons
{
    display: inline-block;
    padding: 10px 15px;
    height: 100%;
}

div.servicos-icons.divider-y
{
    border-right: 1px solid #CCCCCC;
    margin: 0 10px;
    height: 100%;
}

div.border-icon
{
    border: 2px solid #ccc;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

div.servicos
{
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
}

h4.texto-servicos
{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #424242;
    text-align: center;
}

div.conteudo:hover div.border-icon
{
    background-color: #2196F3;
    border: none;
    transition: background-color 1s;
}

div.conteudo:hover h4.texto-servicos
{
    color: #2196F3;
    font-size: 1.1em;
    transition: background-color 1s;
}

/* Nossa Equipe*/

section#nossa-equipe
{
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}

/* Nosso Contato*/

section#nosso-contato
{
    border-bottom: rgba(0,0,0,0.1) 1px solid;
}

/* Footer */

#footer {
    color: rgba(255,255,255,0.6);
    background: #313131;
    background: -moz-linear-gradient(top, #555555 0%, #313131 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1d2b), color-stop(100%, #313131));
    background: -webkit-linear-gradient(top, #555555 0%, #313131 100%);
    background: -o-linear-gradient(top, #555555 0%, #313131 100%);
    background: -ms-linear-gradient(top, #555555 0%, #313131 100%);
    /*background: linear-gradient(to bottom, #555555 0%,#313131 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#313131',GradientType=0 );
    padding-top: 3%;
}

#footer>.container
{
    padding-top: 60px;
    margin-bottom: 60px;
}

.container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2%;
    margin-left: 4%;
}

div
{
    display: block;
}



h4.subtitulo-footer
{
    text-transform: uppercase;
}

#footer ul
{
    margin-bottom: 2%;
}


.list-unstyled
{
    padding-left: 0;
    list-style: none;
}

ol, ul
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.noticias
{
    padding-bottom: 5%;
}

div.border-sociais
{
    border: 2px solid #CCCCCC;
    height: 60px;
    width: 60px;
    border-radius: 5%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
i.flaticon-facebook-logo-outline
{
    text-align: center!important;
    vertical-align: middle!important;
}

i.icon-md::before
{
    font-size: 3em!important;

}

p.texto-footer
{
    padding-bottom: 5%;
}

.footer-text.footer-texto-email a
{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

.footer-text.footer-texto-email a:hover
{
    text-decoration: none;
    color: #337AB7;
}

.footer-texto-noticias a
{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

.footer-texto-noticias a:hover
{
    text-decoration: none;
    color: #337AB7;
}

.footer-texto-links a
{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

.footer-texto-links a:hover
{
    text-decoration: none;
    color: #337AB7;
}

li.footer-sprite
{
    padding-bottom: 0%
}

#footer address .footer-sprite
{
    margin-bottom: 10px;
    padding-left: 0px;
}

.icon-footer
{
    margin-top: 10px;
    margin-right: 5px;

}
.footer-text
{
    padding: 5px;
    margin: 20px;

}


#footer address .footer-sprite.address
{
    background-position: 0 0;
}

.validate
{
    padding-bottom: 8%;
}

div.copyright
{
    padding-top: 10%;
    padding-bottom: 0%;
    margin-bottom: 0px;
}

/*cores principais

#449D44
#337AB7

*/
